<template>
  <main role="main">
    <nav role="navigation">
      <ul>
        <li>
          <router-link :to="{ name: 'mapPage' }">Mapa</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'registerPage' }">Registrar</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'aboutPage' }">Acerca de</router-link>
        </li>
      </ul>
    </nav>
    <section>
      <router-view></router-view>
    </section>
  </main>
</template>

<script>
export default {
  name: 'MainContainerComponent',
};
</script>

<style scoped>
main {
  margin: 0;
}
nav {
  margin: 0;
  background: #0070ff;
  height: var(--nav-height);
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: 100%;
}
nav li a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
  border-radius: 1px;
}
nav li a:hover {
  background-color: #004eb3;
}
</style>
