<template>
  <div class="manual">
    <h2>Instrucciones</h2>

    <p>
      Este es un mapa de tiendas en las que puedes encontrar productos básicos para tu vida diaria.
      Desde alimentos hasta productos de higiene. Lo creamos para que puedas dirigir tus compras
      hacia los distintos comercios locales en vez de centrarlas en las grandes cadenas.
    </p>

    <h3>Lávate las manos</h3>

    <p>
      Lo más importante es estar sanos, no olvides las medidas básicas de higiene y seguir las
      indicaciones en materia de salud. No salgas de casa si no es necesario.
    </p>

    <h3>Busca cosas</h3>

    <p>
      Usa el buscador de la parte superior para encontrar pequeños proveedores de necesidades que
      tengas, como verduras, papel de baño o gel desinfectante.
    </p>

    <h3>Añade tiendas que faltan</h3>

    <p>
      Si conoces un comercio o pequeño proveedor que falte en el mapa no dudes en añadirlo, para
      eso puedes usar el menú <b>registrar</b>.
    </p>
  </div>
</template>

<style scoped>
.manual {
  background-color: var(--color-white);
  padding: 1rem;
}

.manual h1,
.manual h2,
.manual h3,
.manual h4,
.manual h5,
.manual h6 {
  text-align: center;
}
</style>
