<template>
  <div class="map-page">
    <vl-map
      class="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center"></vl-view>

      <vl-layer-tile>
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
    </vl-map>

    <TagSearch />
    <CardList :items="visibleStores" />
  </div>
</template>

<script>
import TagSearch from '@/components/TagSearch.vue';
import CardList from '@/components/CardList.vue';

export default {
  name: 'MapPage',
  data() {
    return {
      zoom: 14,
      center: [-96.9223, 19.5345],
      modalIsVisible: false,
      visibleStores: [],
    };
  },
  components: {
    TagSearch,
    CardList,
  },
  methods: {
    showModal() {
      this.modalIsVisible = !this.modalIsVisible;
    },
  },
};
</script>

<style scoped>
.map-page {
  position: relative;
}

.map-page .map {
  height: calc(100vh - var(--nav-height));
}

.tag-search {
  position: absolute;
  top: var(--component-margin);
  left: calc(2 * var(--component-margin) + var(--card-list-width));
  right: var(--component-margin);
}

.card-list {
  position: absolute;
  top: var(--component-margin);
  left: var(--component-margin);
  max-height: calc(100% - 2 * var(--component-margin));
  overflow-y: auto;
  width: var(--card-list-width);
}

@media all and (max-width: 768px) {
  .card-list {
    left: var(--component-margin);
    right: var(--component-margin);
    bottom: var(--component-margin);
    top: unset;
    height: var(--card-list-height-sm);
    max-width: unset;
    width: unset;
  }

  .tag-search {
    left: var(--component-margin);
  }
}
</style>
