<template>
  <section>
    <register-component></register-component>
  </section>
</template>

<script>
import RegisterComponent from '@/components/RegisterComponent.vue';

export default {
  name: 'RegisterPage',
  components: {
    RegisterComponent,
  },
};
</script>
